body{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
.wrapper{
	margin-left: auto!important;
	margin-right: auto!important;
	width: 1200px;
}
.clearfix{
	*zoom: 1;
}
.clearfix:after {
  content: " "; // 1
  display: table; // 2
}
.clearfix:after {
  clear: both;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}