body{
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
.wrapper{
	margin-left: auto!important;
	margin-right: auto!important;
	width: 1200px;
}
.clearfix:after { 
    display: block;
    content: "";
    clear: both;
} 
.clearfix { display: inline-table; } 
.clearfix:before{
	visibility: hidden; 
    display: block; 
    font-size: 0; 
    content: " "; 
    height: 0; 
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}