@import "./mixin.scss";

.search{
	padding: 40px 0;
	.mobile-wrapper{
		display: flex;
		justify-content: center;
	}
	#search-form{
		font-size: 0;
	}
	.select-area{
		box-sizing: border-box;
		position: relative;
		float: left;
		height: 43px;
		line-height: 43px;
		overflow: hidden;
		border: 1px solid #ccc;
		font-size: 14px;
		border-right: none;
		@include border-left-radius(5px);
		.select-value{
			display: block;
			padding: 0 15px;
		}
		select{
			position: absolute;
		  left: 0;
		  top: 0;
		  opacity: 0;
		  width: 100%;
		  border: red;
		  height: 43px;
		}
	}
	button[type = "submit"]{
		height: 43px;
		float: left;
		box-sizing: border-box;
		padding: 0 15px;
		transition: all 0.30s ease-in-out;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		outline: none;
		border: 1px solid #ccc;
		-webkit-appearance: none;
		border-left: none;
		cursor: not-allowed;
		@include border-right-radius(5px);
		&.active{
			cursor: pointer;
			border: 1px solid#5cbef4;
			color: #fff;
			background-color: #5cbef4;
			border:#35a5e5 1px solid;
			box-shadow: 0 0 5px rgba(81, 203, 238, 1);
			-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
			-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
		}
	}
	input{
		position: relative;
		z-index: 1;
		float: left;
		box-sizing: border-box;
		margin: auto -3px;
		padding: 15px;
		height: 43px;
		transition: all 0.30s ease-in-out;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		outline: none;
		border: 1px solid #ccc;
		-webkit-appearance: none;
		border-radius: 0;
		&:focus &[type = text]{
			color: red;
		}
		&:focus{
			border:#35a5e5 1px solid;
			box-shadow: 0 0 5px rgba(81, 203, 238, 1);
			-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
			-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
		}
	}
}

.song{
	.media{
		margin-top: 15px;
		&,.media-body{
			overflow: hidden;
			zoom: 1;
		}
		.media-body{
			display: table-cell;
			h4{
				margin: 0;
			}
		}
		.media-left{
			display: table-cell;
			vertical-align: top;
			width: 64px;
			height: 64px;
			padding-right: 10px;
		}
	}
	
}