.search {
  padding: 40px 0; }
  .search .mobile-wrapper {
    display: flex;
    justify-content: center; }
  .search #search-form {
    font-size: 0; }
  .search .select-area {
    box-sizing: border-box;
    position: relative;
    float: left;
    height: 43px;
    line-height: 43px;
    overflow: hidden;
    border: 1px solid #ccc;
    font-size: 14px;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .search .select-area .select-value {
      display: block;
      padding: 0 15px; }
    .search .select-area select {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 100%;
      border: red;
      height: 43px; }
  .search button[type="submit"] {
    height: 43px;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    border-left: none;
    cursor: not-allowed;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    .search button[type="submit"].active {
      cursor: pointer;
      border: 1px solid #5cbef4;
      color: #fff;
      background-color: #5cbef4;
      border: #35a5e5 1px solid;
      box-shadow: 0 0 5px #51cbee;
      -webkit-box-shadow: 0 0 5px #51cbee;
      -moz-box-shadow: 0 0 5px #51cbee; }
  .search input {
    position: relative;
    z-index: 1;
    float: left;
    box-sizing: border-box;
    margin: auto -3px;
    padding: 15px;
    height: 43px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    border-radius: 0; }
    .search input:focus .search input[type=text] {
      color: red; }
    .search input:focus {
      border: #35a5e5 1px solid;
      box-shadow: 0 0 5px #51cbee;
      -webkit-box-shadow: 0 0 5px #51cbee;
      -moz-box-shadow: 0 0 5px #51cbee; }

.song .media {
  margin-top: 15px; }
  .song .media, .song .media .media-body {
    overflow: hidden;
    zoom: 1; }
  .song .media .media-body {
    display: table-cell; }
    .song .media .media-body h4 {
      margin: 0; }
  .song .media .media-left {
    display: table-cell;
    vertical-align: top;
    width: 64px;
    height: 64px;
    padding-right: 10px; }
.song .comments {
  padding: 0 15px; }
