<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Musice power by Vue</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- 	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script> -->
	<script src="vue.js"></script>
	<script src="vue-resource@1.3.4"></script>
	<script src="jquery-1.7.min.js"></script>
	<script src="progress/nprogress.js"></script>
	<link rel="stylesheet" href="progress/nprogress.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/style.css">
	<script type="text" id="splash-template">
    <div class="splash card">
        <div role="spinner">
            <div class="spinner-icon"></div>
        </div>
        <p class="lead" style="text-align:center">不要回来，马上走开...</p>
        <div class="progress">
            <div class="mybar" role="bar">
            </div>
        </div>
    </div>
  </script>
</head>
<body>
	<div class="progress" id="progress">
		<div class="onload" id="onload"></div>
	</div>
	<!-- <iframe src="https://www.github.com/" frameborder="0" width="50px" height="60px"></iframe> -->

	<div id="app">
		<div class="wrapper clearfix">
			<video autoplay controls v-if="video" :poster="video.data.cover" :src="video.data.brs[240]">
				<!-- <track :src="lyric.lrc.lyric" srclang="zh" kind="subtitles" label="中文" default> -->
			</video>
			<br>
			<input type="text" value="fade" v-model = "name">
			<button v-on:click = "get">搜索</button>
			<div v-if="this.mv"> MV返回总数: {{this.mv.result.mvCount}}</div>
			<ul v-if="this.mv">
				<li v-for="(item,index) in this.mv.result.mvs" id="item.id" @click="searchMV(item.id)" class="item">
					<img :src="item.cover" alt="">
					<p>演唱者：{{item.artistName}}</p>
					<p>播放热度： {{item.playCount}}</p>
					<p v-if="item.briefDesc">简介：{{item.briefDesc}}</p>
				</li>
			</ul>

			<hr>

			<div v-if="this.song"> Song返回总数: {{this.song.result.songCount}}</div>
			<div>
				<h3>音频播放区域</h3>
				<audio  controls autoplay v-if="this.mp3" :src="this.mp3.data[0].url"></audio>
				<ul v-if="this.comments" class="comments">
					<li v-for="(item,index) in this.comments.hotComments">
						<p>用户：{{item.user.nickname}}</p>
						<p>评论：{{item.content}}</p>
					</li>
				</ul>
			</div>

			<ul v-if="this.song">
				<li v-for="(item,index) in this.song.result.songs" id="item.id" @click="searchSong(item.id)">
					<p>{{item.name}}</p>
					<img :src="item.al.picUrl" alt="">
				</li>
			</ul>

		</div>
	</div>

	<script>
		$(function(){
      NProgress.configure({
          template: $('#splash-template').html()
      });
      NProgress.start();
    });
    $(window).load(function(){
        NProgress.done();
    });
    $(document).ready(function(){
    	$(window).scroll(function(){
    		var body = document.body,html = document.documentElement;
				var height = Math.max( body.scrollHeight, body.offsetHeight, 
		        html.clientHeight, html.scrollHeight, html.offsetHeight );//获取总高度
				var win = $(window).height();    //获取可视区的高度
				var now = null, result = null;
				now = $(window).scrollTop();		//获取滚动的高度
				result = now / (height-win);
				$('.onload').css('width',	 (result*100 + '%'))
    	})      
    })
		
		window.onload = function(){
			// var oBody = document.getElementsByTagName('body')[0];
			// oBody.onscroll =  function(){
			// 	var percent = document.getElementById('onload');

			// 	var body = document.body,html = document.documentElement;
			// 	var height = Math.max( body.scrollHeight, body.offsetHeight, 
		 //        html.clientHeight, html.scrollHeight, html.offsetHeight );
			

			// 	var win = document.documentElement.clientHeight;  
			// 	var total = parseInt(document.screenTop);

			// 	var now = null, result = null;
			// 	console.log('视口：'+win);
			// 	now = oBody.scrollTop;
			// 	console.log('现在:'+now);
			// 	console.log(height)
			// 	result = now / (height-win);
			// 	percent.style.width = result*100 + '%';
			// }
			var app = new Vue({
				el: '#app',
				data: {
					name: '悟空',
					mv: null,
					song: null,
					video: null,
					mp3: null,
					comments: null
				},
				methods: {
					get: function(){
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=search&search_type=1004&s='+this.name+'&t='+new Date()).then((response) => {
								this.mv = response.body;
							}),
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=search&s='+this.name+'&t='+new Date()).then((response) => {
								this.song = response.body;
							})
						},


					searchMV: function(mv_id){
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=mv&id='+mv_id+'&br=128000&limit=20&t='+new Date()).then((response) => {
							this.video = response.body;
						})
					},
					searchSong: function(song_id){
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=song&id='+song_id+'&br=128000&limit=20&t='+new Date()).then((response) => {
							this.mp3 = response.body;
						})
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=comments&id='+song_id+'&br=128000&limit=20&t='+new Date()).then((response) => {
							this.comments = response.body;
							console.log(this.comments);
						})
					},
				},


				created(){
					this.$http.get('https://api.imjad.cn/cloudmusic/?type=search&search_type=1004&s='+this.name+'&t='+new Date()).then((response) => {
						this.mv = response.body;
					});
					this.$http.get('https://api.imjad.cn/cloudmusic/?type=search&s='+this.name+'&t='+new Date()).then((response) => {
						this.song = response.body;
					});
					// var _this = this;
					// $.ajax({
					// 	url:"https://api.imjad.cn/cloudmusic/?type=search&search_type=1004&s="+_this.name+"&t="+new Date(),
					// 	success: function(data){
					// 		console.log(this);
					// 		console.log(_this);
					// 		_this.response = data;
					// 	}
					// })
				}
			})
		}
	</script>
</body>
</html>