<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
<!-- 	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script> -->
	<script src="vue.js"></script>
	<script src="vue-resource@1.3.4"></script>
	<script src="jquery-1.7.min.js"></script>
	<script src="progress/nprogress.js"></script>
	<link rel="stylesheet" href="progress/nprogress.css">
	<style>
		body{
			margin: 0;
		}
		video{
			width: 600px;
		}
		ul{
			margin: 0;
			padding: 0;
		}
		ul li{
			display: inline-block;
			width: 300px;
			list-style: none;
		}
		ul li img{
			width: 100%;
		}
		.progress{
			position: fixed;
			left: 0;
			top: 0;
			height: 4px;
			width: 100%;
		}
		.progress .onload{
			width: 0;
			height: 4px;
			background-color: red;
		}
	</style>
</head>
<body>
	<script type="text" id="splash-template">
    <div class="splash card">
        <div role="spinner">
            <div class="spinner-icon"></div>
        </div>
        <p class="lead" style="text-align:center">不要回来，马上走开...</p>
        <div class="progress">
            <div class="mybar" role="bar">
            </div>
        </div>
    </div>
  </script>

	<div class="progress" id="progress">
		<div class="onload" id="onload"></div>
	</div>
	<!-- <iframe src="https://www.github.com/" frameborder="0" width="50px" height="60px"></iframe> -->

	<div id="app">
		<video autoplay controls v-if="video" :poster="video.data.cover" :src="video.data.brs[240]">
			<!-- <track :src="lyric.lrc.lyric" srclang="zh" kind="subtitles" label="中文" default> -->
		</video>
		<br>
		<input type="text" value="fade" v-model = "name">
		<button v-on:click = "get">搜索</button>
		<ul v-if="this.response">
			<li v-for="(item,index) in this.response.result.mvs" id="item.id" @click="searchMV(item.id)">
				<img :src="item.cover" alt="">
				<p>歌曲名：{{item.artistName}}</p>
				<p>播放热度： {{item.playCount}}</p>
				<p v-if="item.briefDesc">简介：{{item.briefDesc}}</p>
			</li>
		</ul>
		<div v-if="this.response"> 返回总数: {{this.response.result.mvCount}}</div>
	</div>

	<script>
		$(function(){
      NProgress.configure({
          template: $('#splash-template').html()
      });
      NProgress.start();
    });
    $(window).load(function(){
        NProgress.done();
    })
	
		window.onload = function(){
			var percent = document.getElementById('onload');

			var oBody = document.getElementsByTagName('body')[0];

			var win = document.documentElement.clientHeight;  
			var total = parseInt(document.screenTop);

			var now = null, result = null;

			oBody.onscroll = window.onresize = function(){
				console.log('视口：'+win);
				now = oBody.scrollTop;
				console.log('现在:'+now);
				console.log(total)
				result = now / (total-win);
				percent.style.width = result*100 + '%';
			}
			var app = new Vue({
				el: '#app',
				data: {
					name: '悟空',
					response: null,
					lyric:null,
					video:null
				},
				methods: {
					get: function(){
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=search&search_type=1004&s='+this.name+'&t='+new Date()).then((response) => {
								this.response = response.body;
							}),
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=search&search_type=1004&s='+this.name+'&t='+new Date()).then((response) => {
								this.response = response.body;
							})
						},
					searchMV: function(id){
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=mv&id='+id+'&br=128000&limit=20&t='+new Date()).then((response) => {
						this.video = response.body;
						}),
						this.$http.get('https://api.imjad.cn/cloudmusic/?type=lyric&id='+id+'&br=128000&limit=20&t='+new Date()).then((response) => {
						this.lyric = response.body;
						})
					}
				},
				created(){
					this.$http.get('https://api.imjad.cn/cloudmusic/?type=search&search_type=1004&s='+this.name+'&t='+new Date()).then((response) => {
						this.response = response.body;
					})
					// var _this = this;
					// $.ajax({
					// 	url:"https://api.imjad.cn/cloudmusic/?type=search&search_type=1004&s="+_this.name+"&t="+new Date(),
					// 	success: function(data){
					// 		console.log(this);
					// 		console.log(_this);
					// 		_this.response = data;
					// 	}
					// })
				}
			})
		}
	</script>
</body>
</html>